body {
    margin:4px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-x: auto;          /* scroll horizontal */
    overflow-y: hidden;         /*sem scroll vertical */
    scroll-snap-type: x mandatory;  /* "trava" no eixo X */
    scroll-behavior: smooth;   /* rolagem suave */
  position: relative;
}

section {
    flex: none;                /* evita encolher */
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start; /* alinha o início de cada section */
    gap: 3px ;
}

.b1-envelope{
  background-image: url("/imgs/envelope_aberto.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover ;
}

.b2-contenv{
  background-image: url("/imgs/fundocontenv.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover ;

}

.card { 
  width: 400px; 
  height: 300px; 
  margin: 2rem auto; 
  perspective: 1000px; 
  cursor: pointer; 
} 

.card-inner { 
  position: relative; 
  width: 100%; 
  height: 100%; 
  transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1); 
  transform-style: preserve-3d; 
} 

.card:hover .card-inner { transform: rotateY(180deg); } 

.card-front, .card-back { 
  position: absolute; 
  width: 100%; height: 100%; 
  backface-visibility: hidden; 
  overflow: hidden; 
} 

.card-front img, .card-back img { 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
} 

.card-back { transform: rotateY(180deg); }



.b3-contenvpan {
    width: auto;                 /* ocupa toda a largura da viewport */
    height: 100vh;                /* ocupa toda a altura da viewport */
    scroll-snap-align: start;

    background-image: url("/imgs/fundo11.jpg");
    background-repeat: no-repeat;
    background-position: left; /* ou center center, se preferir */
    background-size: auto 100%;       /* altura da viewport, mantém proporção */


    display: flex;                /* necessário se tiver elementos internos */
    flex-direction: row;
    position: relative;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(37,0,202,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.fullscreen img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.6);
  animation: zoomIn 0.4s ease;
}

@keyframes zoomIn {
  from { transform: scale(0.5); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}








